.header img {
  width: 60px;
}

.header {
  background-color: red;
}

.box {
  display: flex;
  margin-top: 15px;
}

.nav {
  width: 20%;
  background: rgb(185, 108, 196);
  height: 100vh;
  position: fixed;
}

.content {
  width: 70%;
  margin-left: 300px;
}